:root {
    //dark mode
    --bg-color: rgb(32, 25, 50);
    --bg-color-light: rgb(44, 34, 68);

    //enphasis colors
    --primary-color: rgb(107, 78, 230);
    --secondary-color: rgb(43, 190, 242);
    --tertiary-color: rgb(232, 234, 237);

    //other
    --border-radius: 0.5rem;
}