div.logo {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 100;
    font-size: 2rem;
    color: var(--secondary-color);
    padding: 0.5em;
    font-family: "Passero One", sans-serif;
}