section.education {
    h1 {
        font-size: 2.5em;
        margin-bottom: 0.5em;
        margin-top: 6rem;
    }

    article.education-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        width: 90%;

        nav {
            width: 30%;
            max-width: 20rem;

            ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li {
                    list-style: none;
                    padding: 2rem;
                    background-color: var(--bg-color-light);
                    color: var(--secondary-color);
                    transition: all 0.3s ease-in-out;

                    &.skill-active {
                        background-color: var(--secondary-color);
                        color: var(--bg-color);
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }

        div.education-option {
            width: 60%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3 {
                color: var(--secondary-color);
            }
        }
    }
}

// Smartphone
@media only screen and (max-width: 768px) {}

// Tablet
@media only screen and (min-width: 768px) and (max-width: 991px) {}