section.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    padding: 4rem;

    .hero_text{
        width: 60%;

        h1 {
            font-size: 2.5em;
            margin-bottom: 0.5em;
        }

        h2 {
            color: var(--secondary-color);
        }

        p {
            text-wrap: wrap;
            line-height: 1.5;
        }
    }

    .hero_logo {
        width: 40%;

        img {
            width: 100%;
            max-width: 20em;
            border-radius: 50%;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    section.hero {
        padding: 2em;
    }
}

@media only screen and (max-width: 768px) {
    section.hero {
        flex-direction: column;
        gap: 2em;
        padding: 2em;

        .hero_text {
            width: 100%;
        }

        .hero_logo {
            width: 100%;
        }
    }
}