.navbar {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 460px;
    padding: 0.2em;
    background-color: var(--bg-color-light);
    border-radius: var(--border-radius);
    box-shadow: #000 0px 2px 3px;

    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            
            svg {
                width: 2.5rem;
                height: 2.5rem;
                color: #fff;
                transition: color 0.3s ease-in-out;

                path {
                    fill: inherit; // Hereda de `svg`, que a su vez hereda de `li`
                }
                
            }

            &:hover svg {
                color: var(--secondary-color); // Cambia el color en hover
            }
        
            &.active svg {
                color: var(--primary-color);
            }
        }
    }
}